<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top menu" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Shrink Doc</a>
    </div>
    <!-- Top Menu Items -->
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="javascript:;" data-toggle="collapse" data-target="#demo-1"> Dashboard <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo-1" class="collapse">
                    <li>
                        <a href="#">dashboard 1</a>
                    </li>
                    <li>
                        <a href="#">dashboard 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Charts</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li>
                <a href="#"> Forms</a>
            </li>
            <li>
                <a href="#"> Bootstrap Elements</a>
            </li>
            <li>
                <a href="#"> Bootstrap Grid</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Blank Page</a>
            </li>
            <li>
                <a href="#"> RTL Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>